body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 80px;
    margin: 0 auto;
    color: #9ef3dc;
    font-family: Sans-Serif;
    padding-top: 16px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#123bac;
}
